.footer__menu {
    display: flex;
}


@media screen and (max-width: 640px) {
    .footer__menu {
        display: block;
        max-width: calc(100% - 48px)
    }
}

@media screen and (max-width: 320px) {
    .footer__menu {
        display: flex;
        flex-direction: column;
    }
}
